[Unit]
Description=PeerCast Port Checker server daemon
After=syslog.target network.target


[Service]
# Peer Cast Port Checker is Foreground Daemon
Type=simple
# If we implement the sd_notify(), we can enable the following lines
# Type=notify

EnvironmentFile=/etc/default/peercast-port-checkerd
ExecStart=/opt/local/bin/peercast-port-checkerd $OPTIONS
# ExecReload=/bin/kill -HUP $MAINPID

Restart=always

[Install]
WantedBy=multi-user.target
